@import 'github';

body {
    font-family: $font;
    line-height: 150%;
    font-size: 16px;
}

h1 {
    font-family: $font-header;
    @include rem-size(2);
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-family: $font-header;
    margin: 1em 0;
    @include rem-size(2);
}
h3 {
    margin: 1em 0;
    @include rem-size(1.5);
    font-weight: 600;
}
h4 {
    margin: 1em 0;
    @include rem-size(1);
    font-weight: 700;
}

h5 {
    margin: 1em 0;
    @include rem-size(0.75);
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration:none;
    color: $hover-font-color;
    font-weight: 700;
    @include transition(200ms);
    &:hover {
        text-decoration: underline;
        color: $hover-font-color;
    }
}

p {
    line-height: 150%;
    margin: 1.5em 0;
}

code {
    border-radius: 3px;
    padding: 0 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    font-family: Source Code Pro, monospace;
}

pre {
    margin: 1.5em 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    code {
        border-radius: 0;
        padding: 0;
        border: none;
    }

}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ol {
    list-style:decimal;
    margin-left: 24px;
    li {
        margin: 0.5em 0;
    }
}

ul {
    margin-left: 18px;
    list-style: square;
    line-height: 1.5em;
    li {
        margin: 0.5em 0;
    }  
}

em {
    font-style:italic;
}

strong {
    font-weight: 700;
}

blockquote {
    margin: 1.5em 0;
    padding-left: 20px;
    border-left: 4px solid #DDD;
    color: #777;
    p {
        font-style: italic;
    }
}

article {
    *:last-child {
    margin-bottom: 0 !important;
    }
}

@media screen and (min-width: $mobile-size){ // Mobile and higher resolutions
    
    h1 {
        @include rem-size(2.5);
    }
}

@media screen and (min-width: $tablet-size){ // Tablet and higher resolutions
    blockquote {
        margin-left: -24px;
    }
    ul, ol {
        margin-left: 0;
    }
    h1 {
        @include rem-size(3);
    }
}

@media screen and (min-width: $desktop-size){ // Desktop higher resolutions
    h1 {
        @include rem-size(4);
    }
}