@import "compass/reset";
@import "compass/css3";
@include global-reset;
@import 'mixins';

@font-face {
    font-family: CC Icons;
    src: url(../fonts/cc-icons.ttf);
}

$font-color: #333;
$light-font-color: #D3D3D3;
$border-color: #f7f7f7;
$hover-font-color: #4183c4;
$dark-font-color: #000;
$background-color: #fff;
$font: Open Sans, Helvetica, sans-serif;
$font-header: Rambla, sans-serif;
$font-code: Source Code Pro, monospace;
$wrapper-width: 700px;
$mobile-size: 25em;
$mobile-height: 37.5em;
$tablet-size: 40em;
$desktop-size: 65em;

@import 'formatting';
@import 'layout';

.creative-commons {
    &::before {
        font-size: 150%;
        vertical-align:middle;
        font-family: CC Icons;
        content: " cbns";
    }
}

html {
    height: 100%;
    max-height: 100%;
}
body {
    height: 100%;
    max-height: 100%;
}