@import "compass/reset";
@import "compass/css3";
@include global-reset;
@import 'mixins';

$white: #fff;
$lighter-grey: #f7f7f7;
$light-grey: #D3D3D3;
$grey: #A2A2A2;
$dark-grey: #333;
$black: #000;
$blue: #4183c4;

$font: Open Sans, Helvetica, sans-serif;
$font-header: Rambla, sans-serif;
$font-code: Source Code Pro, monospace;

$wrapper-width: 700px;
$mobile-size: 25em;
$mobile-height: 37.5em;
$tablet-size: 40em;
$desktop-size: 65em;

@import 'formatting';
@import 'layout';