<section class="byline">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person" class="author">/<a itemprop="url name" href="http://plus.google.com/u/0/+GustavLindqvist?rel=author" rel="author" >{{author.name}}</a></span>
</section>