    <section class="colophon">
        <section class="copyright">Copyright &copy; {{@blog.title}}</section>
        <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </section>