    {{!< default}}
    <header class="site-header compact">
        <section class="header-content">
            <a itemprop="name url" class="blog-title" href="/">{{@blog.title}}</a>
            {{> links}}
        </section>
    </header>
    <main id="main" class="page">
        {{#post ~}}
        <article itemscope itemtype="http://schema.org/WebPage" class="content {{post_class}}">
            <header class="meta">
                <h1 itemprop="name headline" class="page-title">{{{title}}}</h1>
            </header>
            <section itemprop="text" class="page-content">
                {{content}}
            </section>
        </article>
        {{~/post}}
    </main>