    {{!< default}}
    <header class="site-header compact">
        <section class="header-content">
            <a class="blog-title" href="/">{{@blog.title}}</a>
            {{> links}}
        </section>
    </header>
    <main id="main" class="page">
        {{#post ~}}
        <article class="content {{post_class}}">
            <header class="meta">
                <h1 class="page-title">{{{title}}}</h1>
            </header>
            <section class="page-content">
                {{content}}
            </section>
        </article>
        {{~/post}}
    </main>