html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: CC Icons; src: url(../fonts/cc-icons.ttf); }

body { font-family: Open Sans, Helvetica, sans-serif; }

h1, h2, h3, h4, h5 { font-family: Rambla, sans-serif; }

h1 { text-align: center; }

h1 { font-size: 32px; font-size: 2rem; font-weight: 700; }

h2 { font-size: 32px; font-size: 2rem; }

h3 { font-size: 24px; font-size: 1.5rem; }

h4 { font-size: 16px; font-size: 1rem; }

a { text-decoration: none; color: #333333; -webkit-transition: 200ms; -moz-transition: 200ms; -o-transition: 200ms; transition: 200ms; }
a:hover { color: #4183c4; }

p { line-height: 150%; }

@media screen and (min-width: 25em) { h1 { font-size: 40px; font-size: 2.5rem; } }
@media screen and (min-width: 40em) { h1 { font-size: 48px; font-size: 3rem; } }
@media screen and (min-width: 65em) { h1 { font-size: 64px; font-size: 4rem; } }
header.site-header.cover { display: table; width: 100%; height: 60%; margin-bottom: 5rem; text-align: center; color: #fff; background: #303538 no-repeat center center; background-size: cover; }
header.site-header.cover .vertical { display: table-cell; vertical-align: middle; }
header.site-header.compact { border-bottom: 2px solid #f7f7f7; }
header.site-header.compact section.header-content { overflow: auto; display: block; max-width: 600px; padding: 0 1.5em; margin: 0 auto; line-height: 4em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
header.site-header.compact section.header-content a.site-title { float: left; font-family: Rambla, sans-serif; font-weight: bold; font-size: 1.3em; }
header.site-header nav.links { font-size: 19.2px; font-size: 1.2rem; float: right; display: inline-block; list-style: none; }
header.site-header nav.links li { display: inline-block; }
header.site-header nav.links .gplus a:hover { color: #dd4b39; }
header.site-header nav.links .twitter a:hover { color: #55acee; }
header.site-header nav.links .flickr a:hover { color: #ff0084; }

main { max-width: 600px; width: 100%; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 1.5em; }
main.index article.post { margin: 2em 0; }
main.index article.post:first-child { margin-top: 0; }
main.index article.post:last-child { margin-bottom: 0; }
main.index article.post h1.post-title { margin-bottom: 0.5em; }
main.post article.content header.post-meta, main.page article.content header.post-meta { margin-bottom: 3em; }
main .pagination { padding-top: 3em; border-top: 1px solid #f7f7f7; width: 100%; position: relative; text-align: center; color: lightgrey; }
main .pagination i { color: lightgrey; }
main .pagination .newer-posts { position: absolute; left: 0; }
main .pagination .older-posts { position: absolute; right: 0; }

footer { border-top: 2px solid #f7f7f7; color: lightgrey; }
footer a { color: lightgrey; }
footer section.colophon { text-align: center; display: block; max-width: 600px; padding: 2em; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
footer section.colophon section { margin-bottom: 0.5em; }
footer section.colophon section:last-child { margin-bottom: 0; }

@media screen and (min-width: 25em) { header.site-header section.header-content { padding: 0 2em; }
  main { padding: 2em; }
  main h1.post-title { width: 110%; margin-left: -5%; } }
@media screen and (min-width: 40em) { header.site-header section.header-content { padding: 0 2.5em; }
  main { padding: 2.5em; }
  main h1.post-title { width: 120%; margin-left: -10%; } }
@media screen and (min-width: 65em) { header.site-header section.header-content { padding: 0 3em; }
  main { padding: 3em; }
  main h1.post-title { width: 150%; margin-left: -25%; } }
.creative-commons::before { font-size: 150%; vertical-align: middle; font-family: CC Icons; content: " cbns"; }

html { height: 100%; max-height: 100%; }

body { height: 100%; max-height: 100%; }
